.container {
    background: linear-gradient(360deg, #0000, #005582);
    padding: 4rem 2rem;
    color: aliceblue;
    width: 100%;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;

    & h2 {

        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    & p {
        font-size: 1.2rem;
        margin-bottom: 3rem;


    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & input,
    textarea,
    button {
        width: 100%;
        background-color: aliceblue;
        border: 2px solid #112BED;
        border-radius: 5px;
        font-size: 1rem;
        padding: 0.8rem;
        outline: none;
        color: black;
        transition: 1s ease-in-out;
        cursor: pointer;

    }

}
button:hover{
    
    background-color: #112BED;
    transform: translateY(-5px);
}
input:hover{
    background-color: aqua;
    transform: translateY(-5px);
}
textarea:hover{
    background-color: aqua;
    transform: translateY(-5px);
}

/* button{
    animation: girar-continuamente 4s linear infinite;
}
@keyframes girar-continuamente {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

form textarea {
    height: 200px;
}

@media  screen and (max-width:720px){
    form {
        padding:32px;
    }
    
}