.heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto 0 2rem; */
    font-size: xx-large;
    flex-direction: column;
    background: linear-gradient(#005582, #0000);
    color: aliceblue;
    width: 100%;
    background-position: center;
    background-size: cover;
    font-weight: bold;

}

@media screen and (max-width: 720px) {

    .heroSection,
    .heroContainer{
        text-align: center;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }
    .redessociais{
        display: flex;
        width: 100vw;
        align-items: center;
    }
    
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.redessociais {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.fotoperfil {
    width: 300px;
    height: 300px;
    transition: transform 0.8s ease-in-out;
    border-radius: 10%;
    margin: 100px 10px;
    object-fit: cover;
    box-shadow: 3px 3px 30px gray;

}

.fotoperfil:hover {
    transform: translateY(-10px);
}

.heroContainer {

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* gap: 250px; */
    margin-top: 20px;


}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 70px;
    color: #e1e1e6;

    & span {
        font-weight: normal;
        font-size: 20px;
        margin-top: 10px;
    }

    & h1 {

        font-size: 50px;
    }

    & p {
        font-size: 20px;
    }

}