.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    font-weight: bold;
    width: 100vw;
    position: fixed;
    z-index: 1000;

}

.icon {
    width: 60px;
    height: 60px;
    animation: girar-continuamente 4s linear infinite;
}

@keyframes girar-continuamente {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.header span {
    font: bold;
    font-weight: 1.5rem;
    color: darkblue;

}

.header nav a {
    color: chocolate;
    text-decoration: none;

    font-size: 1rem;
    /* transition: color 0.2s; */
    transition: transform 2s ease-in-out;


}

.header a:hover {
    color: chartreuse;
}

@media screen and (min-width: 721px) {
    nav {
        display: flex;
        justify-content: end;
        padding-right: 30px;
        align-items: center;
        width: 100vw;
        gap: 10px;
    }

    .icon{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width:720px) {
    .header nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100vw;
        margin-left: 20px;
    }
}
