.header {
    height: 80px;
    display: flex;
    align-items: center;
    /* padding: 0 2rem; */
    background-color: white;
    border-bottom: 1px solid #323238;
    font-weight: bold;
    width: 100vw;
    position: fixed;
    z-index: 1000;


   
}
@media(max-width:720px){
.header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-left: 5px;
    
}
}




.icon {
    width: 60px;
    height: 60px;

    animation: girar-continuamente 4s linear infinite;
}

@keyframes girar-continuamente {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.header span {
    font: bold;
    font-weight: 1.5rem;
    color: darkblue;

}

.header nav a {
    color: chocolate;
    text-decoration: none;

    font-size: 1rem;
    /* transition: color 0.2s; */
    transition: transform 2s ease-in-out;


}

.header a:hover {
    color: chartreuse;
}

 @media (max-width: 1300px) {
    nav {
        display: flex;
        justify-content: end;
        padding-right: 30px;      
        align-items: center;
        width: 100vw;
    }
    & a{
        margin-left: 20px;
    }
} 